.post_wrapper {
  widows: 100vw;
  min-height: 25vh;
  background-color: var(--mainColor);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.041), 0 1px 1px 0 rgba(0, 0, 0, 0.062),
    0 0 1px 0 rgba(0, 0, 0, 0.041);
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 8px 16px;
  box-sizing: border-box;
  position: relative;
}

.post_card {
  padding: 1em 4em;
  text-align: left;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.041), 0 1px 1px 0 rgba(0, 0, 0, 0.062),
    0 0 1px 0 rgba(0, 0, 0, 0.041);
  background: linear-gradient(
    70deg,
    rgba(255, 255, 255, 0.956),
    rgba(251, 251, 251, 0.877)
  );
  margin: 20px 4%;
}

.backgroundPhoto {
  position: relative;
  background: url("../assets/map2.png"); 
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  min-height: 100vh;
}
